{% load mathfilters %}
<div style="text-align:center;height:102px;margin:auto;width:{{ people|length|mul:104 }}px;">
{% for person in people %}
	<div style="width:100px;float:left;height:100px;border:1px black solid;margin:1px;">
	{{ person.name }}<br />
	{{ person.age }}<br />
	{{ person.get_work_display }}<br />
	<a href="javascript:deletePeople({{person.id}});" title="Remove people">Remove</a>
	</div>
{% endfor %}
</div>
<div style="clear:both;">&nbsp;</div>
{% if people %}
	<script type="text/javascript">$('#gonext').show();</script>
{% else %}
	<script type="text/javascript">$('#gonext').hide();</script>
{% endif %}