# Django settings for monitoring project.
import os;

PROJECT_PATH = os.path.dirname(os.path.abspath('__file__'))

#Change in production !
DEBUG = True
TEMPLATE_DEBUG = DEBUG

ADMINS = (
     ('Tom Barbette', 't.barbette@gmail.com'),
)

MANAGERS = ADMINS

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql', # Add 'postgresql_psycopg2', 'mysql', 'sqlite3' or 'oracle'.
        'NAME': 'monitor',                      # Or path to database file if using sqlite3.
        'USER': 'monitor',                      # Not used with sqlite3.
        'PASSWORD': 'Your password',                  # Not used with sqlite3.
        'HOST': '',                      # Set to empty string for localhost. Not used with sqlite3.
        'PORT': '',                      # Set to empty string for default. Not used with sqlite3.
    }
}

# Local time zone for this installation. Choices can be found here:
# http://en.wikipedia.org/wiki/List_of_tz_zones_by_name
# although not all choices may be available on all operating systems.
# In a Windows environment this must be set to your system time zone.
TIME_ZONE = 'Europe/Brussels'

# Language code for this installation. All choices can be found here:
# http://www.i18nguy.com/unicode/language-identifiers.html
LANGUAGE_CODE = 'en-us'

SITE_ID = 1

# If you set this to False, Django will make some optimizations so as not
# to load the internationalization machinery.
USE_I18N = True

# If you set this to False, Django will not format dates, numbers and
# calendars according to the current locale.
USE_L10N = True

# If you set this to False, Django will not use timezone-aware datetimes.
USE_TZ = True

# Absolute filesystem path to the directory that will hold user-uploaded files.
# Example: "/home/media/media.lawrence.com/media/"
MEDIA_ROOT = ''

# URL that handles the media served from MEDIA_ROOT. Make sure to use a
# trailing slash.
# Examples: "http://media.lawrence.com/media/", "http://example.com/media/"
MEDIA_URL = ''

# Absolute path to the directory static files should be collected to.
# Don't put anything in this directory yourself; store your static files
# in apps' "static/" subdirectories and in STATICFILES_DIRS.
# Example: "/home/media/media.lawrence.com/static/"
STATIC_ROOT = '/var/www/html/static/'

# URL prefix for static files.
# Example: "http://media.lawrence.com/static/"
STATIC_URL = '/static/'

# Additional locations of static files
STATICFILES_DIRS = (
    # Put strings here, like "/home/html/static" or "C:/www/django/static".
    # Always use forward slashes, even on Windows.
    # Don't forget to use absolute paths, not relative paths.
#    os.path.join(PROJECT_PATH,'static'),
	'/home/tom/workspace/monitoring/static/',
    
)



# List of finder classes that know how to find static files in
# various locations.
STATICFILES_FINDERS = (
    'django.contrib.staticfiles.finders.FileSystemFinder',
    'django.contrib.staticfiles.finders.AppDirectoriesFinder',
#    'django.contrib.staticfiles.finders.DefaultStorageFinder',
)

# Make this unique, and don't share it with anybody.
SECRET_KEY = 'bzj+_fnjt8-y#(r6mj#n%6co7pnpk66htubu)@pes3dmf7!(&amp;f'

# List of callables that know how to import templates from various sources.
TEMPLATE_LOADERS = (
    'django.template.loaders.filesystem.Loader',
    'django.template.loaders.app_directories.Loader',
#     'django.template.loaders.eggs.Loader',
)

STATICFILES_STORAGE = 'pipeline.storage.PipelineStorage'

#STATICFILES_STORAGE = 'pipeline.storage.PipelineCachedStorage'

TEMPLATE_CONTEXT_PROCESSORS = (
  'django.contrib.auth.context_processors.auth',
  'django.core.context_processors.request',
)

MIDDLEWARE_CLASSES = (
    'django.middleware.common.CommonMiddleware',
    'django.contrib.sessions.middleware.SessionMiddleware',
    'django.middleware.csrf.CsrfViewMiddleware',
    'django.contrib.auth.middleware.AuthenticationMiddleware',
    'django.contrib.messages.middleware.MessageMiddleware',
    # Uncomment the next line for simple clickjacking protection:
    # 'django.middleware.clickjacking.XFrameOptionsMiddleware',
    'django.middleware.gzip.GZipMiddleware',
    'pipeline.middleware.MinifyHTMLMiddleware',
)

LOGIN_URL = '/login/'

ROOT_URLCONF = 'monitoring.urls'

# Python dotted path to the WSGI application used by Django's runserver.
WSGI_APPLICATION = 'monitoring.wsgi.application'

TEMPLATE_DIRS = (
    # Put strings here, like "/home/html/django_templates" or "C:/www/django/templates".
    # Always use forward slashes, even on Windows.
    # Don't forget to use absolute paths, not relative paths.
    '/home/tom/workspace/monitoring/templates/',
    
)

INSTALLED_APPS = (
    'django.contrib.auth',
    'django.contrib.contenttypes',
    'django.contrib.sessions',
    'django.contrib.sites',
    'django.contrib.messages',
    'django.contrib.staticfiles',
    # Uncomment the next line to enable the admin:
    'django.contrib.admin',
    'mathfilters',
    # Uncomment the next line to enable admin documentation:
    # 'django.contrib.admindocs',
    'builder',
    'main',
    'historic',
    'data',
    'alert',
    'consumption',
    'django_extensions',
    'pipeline',
)
      

# A sample logging configuration. The only tangible logging
# performed by this configuration is to send an email to
# the site admins on every HTTP 500 error when DEBUG=False.
# See http://docs.djangoproject.com/en/dev/topics/logging for
# more details on how to customize your logging configuration.
LOGGING = {
    'version': 1,
    'disable_existing_loggers': False,
    'filters': {
        'require_debug_false': {
            '()': 'django.utils.log.RequireDebugFalse'
        }
    },
    'handlers': {
        'mail_admins': {
            'level': 'ERROR',
            'filters': ['require_debug_false'],
            'class': 'django.utils.log.AdminEmailHandler'
        }
    },
    'loggers': {
        'django.request': {
            'handlers': ['mail_admins'],
            'level': 'ERROR',
            'propagate': True,
        },
    }
}

SERIALIZATION_MODULES = {
    'json': 'wadofstuff.django.serializers.json'
}

    
PIPELINE_CSS = {
    'base': {
        'source_filenames': (
          'css/base.css',
          'css/jquery-ui.css',
          'css/ie.css'
        ),
        'output_filename': 'css/base.all.min.css',
    },
    'consumption': {
        'source_filenames': (
          'css/consumption.css',
        ),
        'output_filename': 'css/consumption.min.css',
    },
    'alert': {
        'source_filenames': (
          'css/alert.css',
        ),
        'output_filename': 'css/alert.min.css',
    },
    'main': {
        'source_filenames': (
          'css/main.css',
        ),
        'output_filename': 'css/main.min.css',
    },
    'historic': {
        'source_filenames': (
          'css/historic.css',
        ),
        'output_filename': 'css/historic.min.css',
    },
    'plan': {
        'source_filenames': (
          'css/plan.css',
        ),
        'output_filename': 'css/plan.min.css',
    },
}
 
PIPELINE_JS = {
    'builder':
        {
            'source_filenames': 
            (
                'js/builder/builder.js',
                'js/builder/plan_tools.js',
            ),
             'output_filename': 'js/builder.min.js',
        },
    'plan': {
             'source_filenames': (
                    'js/jquery.smartresize.js',
                    'js/base/renderer.js',
                    'js/base/plan.js',
                    'js/base/plan_walls.js',
                    'js/base/plan_windows.js',
                    'js/base/eventmanager.js',
                   
                                  ),
              'output_filename': 'js/base/plan.min.js',
            },
    'plan_appliance': {
             'source_filenames': (
                    'js/base/plan_appliances.js',
                                  ),
              'output_filename': 'js/base/plan_appliances.min.js',
            },
    'plan_meter': {
             'source_filenames': (
                    'js/base/plan_meter.js',
                                  ),
              'output_filename': 'js/base/plan_meter.min.js',
            },
    'touch-punch': {
             'source_filenames': (
                    'js/jquery.ui.touch-punch.js',
                                  ),
              'output_filename': 'js/jquery.ui.touch-punch.min.js',
            },
    'ie': {
             'source_filenames': (
                    'js/excanvas.js',
                    'js/canvas.text.js',
                    'js/PIE.js'
                                  ),
              'output_filename': 'js/ie.min.js',
            },
    'global': {
             'source_filenames': (
                    'js/jquery.cookie.js',
                    'js/jquery.form.js',
                    'js/json2.js',
                    'js/base/global.js',
                    'js/models/models.js',
                    'js/jquery.sizes.js',
                    'js/jquery.simplemodal.min.js'
                                  ),
              'output_filename': 'js/base/global.min.js',
            }
}

PIPELINE_DISABLE_WRAPPER = True

MAIL_FROM = "tom.barbette@student.ulg.ac.be"

AUTH_PROFILE_MODULE = "main.Profile"
