{% extends 'builder/stage.html' %}

{% block stage %}
	<h1>Builder<div style="font-size:18px;font-family:'Noto Sans',sans-serif;">People living in the house</div></h1>
	<div class="stage_content">
	<div style="max-width:1100px;margin:auto;">
	<div id="people_show"></div>
	<script type="text/javascript">
	
		function getWorkName(name) {
			for (var i = 0; i < works.length; i++)
				if (works[i][0] == name)
					return works[i][1];
		}
		
		function refreshList() {
			$('#people_show').empty();
			var container = $('<div style="text-align:center;height:102px;margin:auto;width:' + (people.length * 104) + 'px;"></div>');
			for (var i = 0; i < people.length; i++) {
				var person = people[i];
				
				var p = $('<div style="width:100px;float:left;height:100px;border:1px black solid;margin:1px;">'+	
					person.name + '<br />' +
					person.age + '<br />' +
					getWorkName(person.work) + '<br />' + 
					'<a href="javascript:deletePeople(' +i+ ');" title="Remove people">Remove</a></div>');
				
				$('#people_show').append(p);
			}
			$('#people_show').append(container);
			$('#people_show').append($('<div style="clear:both;"></div>'));
			
			if (people.length)
				$('#gonext').show();
			else
				$('#gonext').hide();
		}
		
		function deletePeople(i) {
			var id = people[i].pk;
			delete(people[i]);
			$.ajax('/builder/data/people/delete/' + id,{success:refreshList});	
		}
		
		function addElement() {
			$('#stage_form').ajaxSubmit({resetForm : false, success:function(v){
				if (v == "1") {
					$('#stage_form').resetForm();
					$('#stage_form_error').html("");
					window.location.reload();
				} else {
					$('#stage_form_error').html("You must fill all fields !");
				}
			},
			error:function(){$('#stage_form_error').html("You must fill all fields !")}});
		}
		
		var people = jsonStripModel({{people|safe}});
		var works = {{works|safe}};
		
		$(document).ready(function(){
			refreshList();
		});
	</script>
	<div class="people_addzone">
		<form action="/builder/data/people/add" method="post" id="stage_form">
			<div style="float:left;">{% include "base/form.html" %}</div>
			<div style="float:right;"><a href="javascript:addElement();" class="form_btn builder_btn_add">&nbsp;</a></div>
			<div id="stage_form_error" class="form_error" style="clear:both;"></div>
		</form>
	</div>
	</div>
	<div style="clear:both">
		<a href="/builder/stage1/" class="form_btn builder_btn_prev">&nbsp;</a>
		<a href="/builder/stage3/" class="form_btn builder_btn_next">&nbsp;</a>
	</div>
	</div>
{% endblock %}