{% extends "base/base.html" %}

{% block title %}Statistics{% endblock %}

{% block content %}
{% load compressed %}
{% compressed_css 'historic' %}

<h1>Statistics</h1>
<script type="text/javascript" src="/static/js/highstock.js"></script>
		<div id="meter"></div>
		{% if meter.energy.price > 0 %}
			<div style="clear:both;padding:10px;">
			<a class="form_btn historic_btn_consumption" href="javascript:changeUnit('consumption');" title="Consumption">&nbsp;</a>
			<a class="form_btn historic_btn_price" href="javascript:changeUnit('price');" title="Price">&nbsp;</a></div>
		{% endif %}
		<div id="meter_cons" style="min-height:400px;"></div>
		
		<script type="text/javascript">
			Highcharts.setOptions({global:{useUTC:false}});
			$.getJSON('/data/meter_{{meter.hash}}/instant/', function(data) {
				var meter = $('#meter');
			    meter.highcharts('StockChart',{
			      	chart: {
			      		type:'spline',
			      		backgroundColor:'rgba(255,255,255,0.7)'
			      	},
			        title: {
			            text: '{{meter.energy.title}} instant consumption',
			            style: {color:'#1A5213',fontSize: '16px',fontWeight:'bold'}
			        },
			        legend: {
			        	
			        	enabled:false
			        },
			        rangeSelector: {
			        	selected : 0,
			        	buttonTheme: {
				    		fill: 'none',
				    		stroke: 'none',
				    		border:'none',
				    		style: {
				    			color: '#1A5213',
				    			fontWeight: 'bold'
				    		},
				    		states: {
				    			hover: {
				    				fill: 'white',
				    				stroke:'#1A5213',
				    			},
				    			select: {
				    				style: {
				    					color: 'white',
				    				},
				    				stroke: '#1A5213',
				    				fill:'#1A5213',
				    				
				    			}
				    		}
				    	},
			        },
			        tooltip: {
		                shared: true,
		                borderColor:'#1A5213',
		            },
		            navigator: {

                    series: {
						type: 'areaspline',
						color: 'rgb(60,150,40)',
						fillOpacity: 0.4,
						dataGrouping: {
							smoothed: true,
							
						},
						lineWidth: 1,
						marker: {
							enabled: false
						},
						shadow: false
					}
					                 ,
					                 enabled:true
                
		            },
		            plotOptions: {
		                spline: {
		                    lineWidth: 3,
		                    states: {
		                        hover: {
		                            lineWidth: 3
		                        }
		                    },
		                    marker: {
		                        enabled: false
		                    },
		              
		              
		                }
		            },
		            xAxis:[ {ordinal: false
		            }],
			        yAxis:[
							{
			            	   labels: {
			            		   
			                       formatter: function() {
			                           return unitFormat(this.value,'{{meter.energy.unit_instant|safe}}');
			                       },
			                       useHTML:true,
			                       style: {
			                           color: '#555555'
			                       },
			                       x:-45,
			                   },
			                   title: {
			                       text: '{{meter.energy.title}}',
			                       style: {
			                           color: '{{meter.energy.color}}'
			                       },
			                   margin: 50 ,
			                   
			                   },
			            	},			            	
			  			],			               
			        series : [
						
			             {
			       
							name : '{{meter.energy.title}}',
							data : data,
							color:'{{meter.energy.color}}',
							tooltip: {
								valueDecimals: 2,
			                    valueSuffix: ' {{meter.energy.unit_instant|safe}}'.replace('&deg;','°'),
			                    useHTML:true,
			                },
			                marker:{
			                	enabled:data.length < 2,
			                },
						},
						
						
					]
			    });
			    chart = meter.highcharts();
			    for (var i = 0; i < chart.yAxis.length; i++) {
			    	console.log(chart.yAxis[i].getExtremes());
					if (chart.yAxis[i].getExtremes().min <= 0 && chart.yAxis[i].getExtremes().dataMin >= 0) {
						chart.yAxis[i].setExtremes(0,null);
					}
			    }
			    
			  
			    changeUnit('consumption');
			});
			
			
			  function changeUnit(u) {	
				  	var meter = $('#meter_cons');
				  	meter.empty();
				    $.getJSON('/data/meter_{{meter.hash}}/consumption/', function(data) {
				    	var unit = '{{meter.energy.unit|safe}}';
				    	var title = 'daily consumption'
				    	if (u == 'price') {
				    		var price = {{meter.energy.price}};
							title = 'daily expense'
				    		unit = '€';

				    		for (var i = 0; i < data[0].length; i++) {
								data[0][i][1] = data[0][i][1] * price;	
							}
				    	}
						
					    meter.highcharts('StockChart',{
					      	chart: {
					      		type:'column',
					      		backgroundColor:'rgba(255,255,255,0.7)'
					      	},
					        title: {
					            text: '{{meter.energy.title}} '+title,
					            style: {color:'#1A5213',fontSize: '16px',fontWeight:'bold'}
					        },
					        legend: {
					        	
					        	enabled:false,

					        },
					        rangeSelector: {
					        	selected : 0,
					        	buttonTheme: {
						    		fill: 'none',
						    		stroke: 'none',
						    		border:'none',
						    		style: {
						    			color: '#1A5213',
						    			fontWeight: 'bold'
						    		},
						    		states: {
						    			hover: {
						    				fill: 'white',
						    				stroke:'#1A5213',
						    			},
						    			select: {
						    				style: {
						    					color: 'white',
						    				},
						    				stroke: '#1A5213',
						    				fill:'#1A5213',
						    				
						    			}
						    		}
						    	},
					        },
					        tooltip: {
				                shared: true,
				                borderColor:'#1A5213',
				            },
				            navigator: {

		                    series: {
								type: 'areaspline',
								color: 'rgb(60,150,40)',
								fillOpacity: 0.4,
								dataGrouping: {
									smoothed: true,
									
								},
								lineWidth: 1,
								marker: {
									enabled: false
								},
								shadow: false
							}
							                 ,
							                 enabled:true
		                
				            },
				            plotOptions: {
				                spline: {
				                    lineWidth: 3,
				                    states: {
				                        hover: {
				                            lineWidth: 3
				                        }
				                    },
				                    marker: {
				                        enabled: true
				                    },
				              
				              
				                }
				            },
				            xAxis:[ {ordinal: false
				            }],
					        yAxis:[
									{
					            	   labels: {
					                       formatter: function() {
					                           return this.value +' ' + unit;
					                       },
					                       useHTML:true,
					                       style: {
					                           color: '#555555'
					                       },
					                       x:-45,
					                   },
					                   title: {
					                       text: '{{meter.energy.title}}',
					                       style: {
					                           color: '{{meter.energy.color}}'
					                       },
					                   margin: 50 ,
					                   
					                   },
					            	},			            	
					  			],			               
					        series : [
								
					             {
					       
									name : '{{meter.energy.title}}',
									data : data[0],
									color:'{{meter.energy.color}}',
									tooltip: {
										valueDecimals: 2,
					                    valueSuffix: (' '+unit).replace('&deg;','°'),
					                    useHTML:true,
					                },
					                marker:{
					                	enabled:data[0].length < 2,
					                },
								},
								
								
							]
					    });
					    chart = meter.highcharts();
					    for (var i = 0; i < chart.yAxis.length; i++) {
					    	console.log(chart.yAxis[i].getExtremes());
							if (chart.yAxis[i].getExtremes().min <= 0 && chart.yAxis[i].getExtremes().dataMin >= 0) {
								chart.yAxis[i].setExtremes(0,null);
							}
					    }
				    });
				    }

		</script>
		
	
{% endblock %}
